[default]
; general configuration: default endpoint
endpoint=ovh-eu

[ovh-eu]
; configuration specific to 'ovh-eu' endpoint
application_key=my_application_key
application_secret=my_application_secret
; consumer_key will be filled in when running the setup.py script
consumer_key=my_consumer_key
